body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
}

.contenedor {
    display: flex;
    width: 800px;
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative; /* Asegura que los hijos sigan el contenedor */
}

.lado-izquierdo, .lado-derecho {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 2s ease; /* Animación suave */
    position: relative;
}

.lado-izquierdo {
    background-color: #3498db;
    z-index: 1; /* Da prioridad visual al lado izquierdo */
}

.lado-derecho {
    background-color: #f0f0f0;
    color: #333;
    z-index: 0;
}

.lado-izquierdo h2, .lado-derecho h2 {
    margin-bottom: 20px;
}

.lado-izquierdo p {
    margin-bottom: 30px;
}

.lado-izquierdo button, .lado-derecho button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    color: #3498db;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.lado-derecho button {
    background-color: #3498db;
    color: white;
}

.lado-derecho input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.imagen-inicio-sesion {
    width: 150px;
    margin-bottom: 20px;
}

#botonIngresar:hover {
    color: #3498db;
    background-color: #ddd;
}

#botonRegistro:hover {
    color: #ddd;
    background-color: #409bd8;
}

#botonRegistro:active, #botonIngresar:active {
    transform: scale(0.9); /* Efecto de clic */
    opacity: 0.8;
}

.mover-lado-izquierdo {
    transform: translateX(100%); /* Desplaza el lado izquierdo hacia la derecha */
}

.mover-lado-derecho {
    transform: translateX(-100%); /* Desplaza el lado derecho hacia la izquierda */
}
